header{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

header .continer{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.continer .wrapper{
    width: 100%;
    height: 600px;
    display: flex;

}


.wrapper .settings {
    width: 400px;
    height: 85%;
    display: flex;
    flex-direction: column;
    background-color:cadetblue;
    color:floralwhite;

}
.settings.disable{
    opacity: 0.8;
    pointer-events: none;
}

.settings .fillters{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.fillters label{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items:center;
}

label .flillter_name{
    font-size: 19px;
    font-weight: 600;;
}
label .filter_value{
    font-size: 22px;
    font-weight: 800;
}


label input{
    width: 260px;
    height: 4px;
    background: rgba(255, 255, 255, 0.6);
}

.settings .rotation{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.rotation .btns{
    width: 100%;
    height: 80px;
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 15px;
}

.btns button {
    width: 57px;
    height: 35px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
}

.reset{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:cornflowerblue;
}

.wrapper .img_wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img_wrapper .img{
    width: 100%;
    height:450px;
    display: flex;
    justify-content: center;
    background-color:bisque;
}


.img img{
    width: 400px;
    height: 430px;
}
.img_wrapper .save{
    width: 100%;
    height: 60px;
    display: flex;
    gap: 10px;
    align-items:center;
    justify-content: center;
    background-color:cornflowerblue;
}

.reset button{
    cursor: pointer;
    width: 95px;
    height: 31px;
    border-radius: 6px;
    border: none;
    font-weight: 600;
    color: white;
    background-color: red;
}
.save button{
    width: 115px;
    height: 30px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    background-color: floralwhite;
    font-size: 19px;
    font-family: cursive;
}

.saveBtn.disable{
    pointer-events: none;
}